.table {
  width: 900px;

  .item {
    display: flex;
    font-size: 34px;
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e8;
  }

  .name {
    width: 260px;
  }

  .job {
    width: 200px;
  }
  
  .EP, .GP, .PR, .priority {
    width: 120px;
  }

  .attendance {
    width: 200px;
  }

  .header {
    background: #FAFAFA;
    color: rgba(0,0,0,0.85);
    font-weight: 500;
  }
}

.search {
  display: flex;
  align-items: center;
  padding: 20px;

  .searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
  }
}