.table {
  width: 750px;

  .item {
    display: flex;
    font-size: 30px;
    padding: 6px 20px;
    border-bottom: 1px solid #e8e8e8;
  }

  .name {
    width: 260px;
  }

  .job {
    width: 160px;
  }
  
  .EP, .GP, .PR, .priority {
    width: 100px;
  }

  .attendance {
    width: 200px;
  }

  .header {
    background: #FAFAFA;
    color: rgba(0,0,0,0.85);
    font-weight: 500;
  }
}

.search {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #EFEFF4;

  .searchInput {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
  }
}